<!DOCTYPE html>
<html lang="en" data-theme="luxury">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrOOBIPcsfJg0v3xPJmXafNUSttBlNftpnyA&usqp=CAU">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/output.css" type="text/css" rel="stylesheet">
    <link href="/style.css" type="text/css" rel="stylesheet">
    <title>King of the Hill</title>
</head>
<div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/collections" class="btn btn-ghost normal-case text-3xl my-5 mx-5 border-2 border-primary">King of the Hill</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar mx-5 my-5">
          <div class="rounded-full">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrOOBIPcsfJg0v3xPJmXafNUSttBlNftpnyA&usqp=CAU" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="text-2xl" href="/add">
              Add an Item
            </a>
          </li>
          <li>
            <a class="text-2xl" href="/movies">
              My Movies
            </a>
          </li>
          <li>
            <a href="/diners" class="text-2xl">
              My Diners
            </a>
          </li>
          <li>
            <a href="/cafes" class="text-2xl">
              My Cafes
            </a>
          </li>
          <li><a class="text-2xl" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

</html>

