<!DOCTYPE html>
<html lang="en" data-theme="night">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://img.favpng.com/22/1/8/film-reel-png-favpng-Hcq47JmJKi7GqpR9qCRWU7CvC.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/output.css" type="text/css" rel="stylesheet">
    <link href="/style.css" type="text/css" rel="stylesheet">
    <title>Movie Tracker</title>
</head>
<div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/index" class="btn btn-ghost normal-case text-3xl my-5 mx-5">Movie Tracker</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar mx-5 my-5">
          <div class="w-15 rounded-full">
            <img src="https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1517845732/1517845731.jpg" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="text-2xl" href="/profile">
              My Movies
            </a>
          </li>
          <li><a class="text-2xl" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

</html>

