<%- include ('partials/header') -%>

<div id="searchBar" class="w-3/5 m-auto text-center text-3xl rounded-xl">  
    
    <h2 class="text-center my-5">Search for a Movie</h2>
    <p class="text-base text-secondary">Refresh the queue before making a new search</p>
    <input type="text" placeholder="Title" name="movieTitle" class="input max-w-xs my-5 movieValue text-2xl border-1 border-primary"/>
    <input type="number" placeholder="Year" class="input max-w-xs yearValue text-2xl  border-1 border-primary"/>
    <div class="searchButtons inline">
        <button class="btn text-lg my-5 mr-3 ml-3 findMovies">Search</button>
        <button class="btn text-lg mb-5 refresh fa fa-refresh"></button>
    </div>
    <span class="mx-2 my-2 text-lg text-center text-red-600 error">Error: Search is too vague. Please refresh the queue and try again.</span>
</div>

<div id="movieQuery" class="justify-around flex flex-wrap my-10 w-3/4 m-auto">
    
</div>

<%- include ('partials/footer') -%>


<!--
    <div id="searchBar" class="flex flex-col w-2/5 m-auto items-center text-3xl border-primary border-2 rounded-xl">  
    <label class="label flex">
    <span class="my-5">Search for a Movie</span>
    </label>
    <input type="text" placeholder="Title" name="movieTitle" class="input w-full max-w-xs my-5 movieValue text-2xl"/>
    <input type="number" placeholder="Year" class="input w-full max-w-xs yearValue text-2xl" />
    <button class="btn flex my-5 findMovies">Search</button>
    <button><i class="btn flex text-2xl mb-5 refresh fa fa-refresh"></i></button>
    <span class="mx-2 my-2 text-lg text-center text-red-600 error">Error: Please refresh the queue and refine your search</span>
    </div>
-->